<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>76696455357-64rc4iehs0efoej7k1r9d3ma61gfd763.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76696455357-64rc4iehs0efoej7k1r9d3ma61gfd763</string>
	<key>API_KEY</key>
	<string>AIzaSyAwlCtem0YWKBwSvddiZU2gy4otEihjz6M</string>
	<key>GCM_SENDER_ID</key>
	<string>76696455357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.aty.bossapp</string>
	<key>PROJECT_ID</key>
	<string>tiba-user</string>
	<key>STORAGE_BUCKET</key>
	<string>tiba-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76696455357:ios:79b55248184d0602</string>
	<key>DATABASE_URL</key>
	<string>https://tiba-user.firebaseio.com</string>
</dict>
</plist>